[Unit]

Description=Very Easy Firewall
After=network.target

[Service]
Type=oneshot
ExecStart=/var/lib/vefirewall/vef-restore
Restart=never

[Install]
WantedBy=default.target
